header {
  display: var(--flex); 
  justify-content: center;
  align-items: center; 
  padding-top: var(--gap-50); 
  padding-bottom: var(--gap-20); 
}

section {
  width: min(100%, 90rem);
  margin-inline: auto; 
}


section[class='introduction'] {
  text-align: center; 
  padding-bottom: var(--gap-20); 
}

.introduction-heading {
  font: normal var(--fw-300) var(--fs-7)/var(--line-height-snug) var(--ff-libre-franklin); 
  color: var(--gray); 
  margin-bottom: var(--space-4); 
}

.introduction-heading > strong {
  color: var(--very-dark-blue);  
}

.introduction-text {
  font: normal var(--fw-300) var(--fs-3)/var(--line-height-relaxed) var(--ff-libre-franklin); 
  color: var(--very-dark-blue); 
}

div[class="form-subscription"] {
  /* padding-top: var(--space-7-8);  */
  padding-bottom: var(--space-8-9);  
  display:flex; 
  align-items: center; 
  justify-content: center;
}

form {
  /* Here I give the form element a width relative to its container */
  width: 80%; 
  display: flex;
  flex-wrap:wrap; 
  justify-content: center;
}

.btn {
  margin-top: var(--gap-6_25); 
  border: none; 
  background-color: var(--blue);  
  color: var(--white); 
  box-shadow: var(--button-shadow); 
  padding: var(--gap-7_5) 0; 
  border-radius: var(--radius-10); 
  font: normal var(--fw-600) var(--fs-2)/var(--line-height-relaxed) var(--ff-libre-franklin); 
  letter-spacing: var(--letter-spacing-wide); 
  cursor:pointer; 
  transition: background-color 0.4s, transform 0.6s; 
}

@media(any-hover: hover) {
  .btn:hover {
    background-color: var(--blue-hover); 
    transform: translateY(-2px); 
  }
}

input[type="email"] {
  border-radius: var(--radius-10); 
  padding-block: var(--space-4); 
  padding-left: var(--space-7); 
  caret-color: var(--blue-hover); 
  background-color: transparent; 
  border: 1px solid var(--pale-blue); 
  outline: none; 
  color: var(--blue-hover); 
  font: normal var(--fw-300) var(--fs-2)/var(--line-height-relaxed) var(--ff-libre-franklin); 
}

input[type="email"]::placeholder {
  color: var(--pale-blue); 
  font: inherit; 
}

input[type="email"]:focus {
  outline: 2px solid var(--very-dark-blue); 
  outline-offset: 3px; 
}

/* Styling the error state of the input field using the aria-invalid attribute*/
/* This attribute will be set on the input element and the value will be set to true using JavaScript*/
/* Read about the aria-invalid attribute here ---> https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-invalid*/
input[aria-invalid="true"] {
  border: 1px solid var(--red); 
}

input[aria-invalid="true"] ~ p {
  color: var(--red); 
  font: normal var(--fw-400) var(--fs-1)/var(--line-height-relaxed) var(--ff-libre-franklin); 
  margin-top: var(--gap-3_75); 
}

.btn:focus {
  outline: none; 
}

.btn:focus-visible {
  outline: 2px solid var(--very-dark-blue); 
  outline-offset: 3px;
}

.btn,input[type="email"] {
  flex-basis: 100%; 
}

.ping-illustration {
  margin-inline: auto; 
  width: min(80%, 900px); 
  animation: 2s alternate infinite ease-in-out imageAnimation
}


@keyframes imageAnimation {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-20px); 
  }
}

footer {
  margin-top: var(--space-9); 
}


ul[class='social-media-links'] {
  list-style-type: none;
  display: var(--flex); 
  justify-content: center; 
  align-items: center; 
  gap: 20px; 
}

ul[class="social-media-links"] a[aria-label] {
  border-radius: 50%; 
  border: 1px solid var(--blue-border); 
  width: var(--space-8); 
  aspect-ratio: 1 / 1; 
  display: var(--flex); 
  align-items: center; 
  justify-content: center; 
  transition: all 0.4s; 
  margin-bottom: var(--space-6); 
}

ion-icon {
  font-size: var(--space-6); 
  display: block; 
  color: var(--blue);
}


@media(any-hover: hover) {
  ul[class="social-media-links"]  a[aria-label]:hover {
    background-color: var(--blue); 
    transform: translateY(-6px); 
  }

  ul[class="social-media-links"] a[aria-label]:hover > ion-icon {
    color: white;  
  }
}

.copyright {
  text-align: center; 
  color: var(--gray); 
  font: normal var(--fw-300) var(--fs-1)/var(--line-height-relaxed) var(--ff-libre-franklin); 
  margin-bottom: var(--space-8); 
}


@media screen and (min-width:37.5em) {

  .btn {
    flex-basis: 20%; 
    margin-top: unset; 
    
  }

  input[type="email"] {
    flex-basis: 50%; 
  }

  form {
    gap: 16px; 
    position: relative; 
  }


  input[aria-invalid="true"] ~ p {
    position: absolute; 
    bottom: -22px; 
    left: calc(14.5% + var(--space-7)); 
  }
}